
.landing-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
body{
  background-image: url("https://images.pexels.com/photos/3312671/pexels-photo-3312671.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

 background-repeat: none;
 background-position: cover;
 width: 100vw;
}

/* .Landing{
  height: 100vh;
} */
.content-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}

h1 {
  margin-bottom: 10px; /* Adjust as needed */
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.btn {
  margin: 10px;
  width: 200px;
  border-radius: 25px; 
}
.btn-group{
  
  width: 350px;
  border-radius: 25px; 
}
